In [122]:
import pandas as pd

In [123]:
import requests
from bs4 import BeautifulSoup

body > table.type2 > tbody > tr:nth-child(3) > td:nth-child(1) > span

In [124]:
date = []
cl_price = []
st_price = []
hi_price = []
low_price = []
vol =[]

In [125]:
for i in list(range(1,9)):
    req = requests.get("http://finance.naver.com/item/sise_day.nhn?code=263750&page="+str(i))
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')

    my_prices = soup.select('tr > td > span')

    price_info = []
    for price in my_prices:
        if len(price.text) > 1:
            price_info.append(price.text)

    for j in list(range(0,len(price_info)-5,6)):
        date.append(price_info[j])
        cl_price.append(price_info[j+1])
        st_price.append(price_info[j+2])
        hi_price.append(price_info[j+3])
        low_price.append(price_info[j+4])
        vol.append(price_info[j+5])

In [126]:
pearl = pd.DataFrame()
pearl['date'] = pd.Series(date[::-1])
pearl['cl_price'] = pd.Series(cl_price[::-1])
pearl['st_price']=pd.Series(st_price[::-1])
pearl['hi_price']=pd.Series(hi_price[::-1])
pearl['low_price']=pd.Series(low_price[::-1])
pearl['vol'] = pd.Series(vol[::-1])

In [127]:
pearl

          date cl_price st_price hi_price low_price      vol
0   2017.09.18  108,000  110,500  112,600   105,800  352,954
1   2017.09.19  114,300  111,500  117,900   107,400  253,257
2   2017.09.20  118,000  114,300  120,400   114,300  413,541
3   2017.09.21  116,200  120,400  120,500   111,600  258,192
4   2017.09.22  119,000  118,000  119,200   114,900  186,203
5   2017.09.25  118,600  119,000  126,800   115,000  175,688
6   2017.09.26  117,800  119,000  119,900   114,400  103,645
7   2017.09.27  116,500  117,200  118,800   114,400  103,693
8   2017.09.28  113,300  115,500  116,000   108,500  166,640
9   2017.09.29  113,700  112,300  115,400   110,100   95,661
10  2017.10.10  108,500  114,400  115,600   107,300  133,180
11  2017.10.11  108,200  108,500  109,900   104,100  121,600
12  2017.10.12  107,400  109,700  110,800   107,000   71,631
13  2017.10.13  107,500  107,500  118,200   105,300  239,356
14  2017.10.16  113,000  107,500  115,300   107,500  204,563
15  2017.10.17  129,200  116,900  133,500   116,600  627,898
16  2017.10.18  136,200  133,200  139,800   129,800  642,542
17  2017.10.19  133,000  137,200  138,500   130,000  256,209
18  2017.10.20  132,400  131,400  135,000   129,900  147,618
19  2017.10.23  132,500  133,500  134,300   130,400  115,374
20  2017.10.24  141,900  133,700  147,000   133,200  551,324
21  2017.10.25  147,600  142,100  149,000   139,800  195,363
22  2017.10.26  141,700  150,800  151,600   139,900  269,341
23  2017.10.27  138,300  142,300  145,900   137,800  194,963
24  2017.10.30  140,400  140,000  142,100   137,100  122,513
25  2017.10.31  147,500  139,900  148,700   139,800  180,227
26  2017.11.01  147,800  148,300  149,700   144,800  109,261
27  2017.11.02  150,800  148,000  151,900   147,000  144,096
28  2017.11.03  148,700  146,800  149,400   144,900  142,408
29  2017.11.06  146,200  149,300  153,100   145,100  170,824
..         ...      ...      ...      ...       ...      ...
50  2017.12.05  199,000  203,600  203,600   195,300  120,077
51  2017.12.06  190,900  198,000  200,100   187,500  203,162
52  2017.12.07  186,500  190,900  192,500   181,700  209,708
53  2017.12.08  187,000  185,600  193,800   185,100  137,274
54  2017.12.11  193,400  188,200  193,500   184,800  159,764
55  2017.12.12  204,000  195,200  204,300   194,200  189,520
56  2017.12.13  205,000  203,500  208,500   201,600  159,302
57  2017.12.14  205,000  212,000  215,000   204,100  394,873
58  2017.12.15  202,000  206,700  207,300   197,100  189,986
59  2017.12.18  216,400  201,000  217,000   201,000  232,904
60  2017.12.19  216,500  216,400  219,700   212,100  133,334
61  2017.12.20  214,100  216,400  217,000   210,500  126,146
62  2017.12.21  216,400  214,100  223,800   212,100  185,147
63  2017.12.22  225,000  215,000  225,000   213,200  142,765
64  2017.12.26  228,900  228,000  235,400   225,000  192,848
65  2017.12.27  250,000  235,000  250,000   235,000  210,931
66  2017.12.28  247,600  245,700  249,900   240,400  152,701
67  2018.01.02  249,000  252,100  265,000   245,000  204,926
68  2018.01.03  241,600  249,400  249,400   231,000  344,534
69  2018.01.04  233,100  244,200  247,900   231,000  239,031
70  2018.01.05  239,200  236,500  245,600   225,800  228,694
71  2018.01.08  233,800  241,000  243,800   231,800  158,077
72  2018.01.09  225,000  234,900  237,500   223,100  227,172
73  2018.01.10  240,900  228,000  240,900   225,800  254,871
74  2018.01.11  249,900  233,200  250,800   229,900  254,836
75  2018.01.12  252,700  254,800  256,400   242,100  177,312
76  2018.01.15  248,300  252,700  252,700   246,100  151,405
77  2018.01.16  262,900  245,100  267,900   245,000  211,003
78  2018.01.17  265,100  267,000  272,000   260,200  143,339
79  2018.01.18  267,200  268,000  269,400   259,500  111,311

[80 rows x 6 columns]

In [132]:
pearl.to_csv('pearl.csv')